python-dotenv
llama-index

telethon
pydantic>=2.0
sqlalchemy
aiosqlite
caldav
ics
streamlit
nest_asyncio
watchdog
llama-index-llms-openai-like
llama-index-vector-stores-chroma
chromadb
llama-index-embeddings-huggingface
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-llama-index
vllm
bitsandbytes
huggingface_hub
accelerate
pillow
