fastapi
uvicorn
python-dotenv
loguru
aiosqlite
pydantic
telethon
requests
# LlamaIndex & Vector DB
llama-index-core
llama-index-llms-openai-like
llama-index-embeddings-openai
llama-index-embeddings-huggingface
chromadb
# Telemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp

openinference-instrumentation-llama-index
llama-index-vector-stores-chroma
tenacity
httpx
# Graph Analysis
networkx
scikit-learn
numpy
asyncpg
